@charset "UTF-8";
@use "variaveis";

footer {
    padding: 10px;
    width: 100%;
    text-align: center;
    font-weight: 300;

    p {
        a {
            text-decoration: none;
            color: variaveis.$color-white;
    
            &:hover {
                text-decoration: underline;
            }
    
            &:visited {
                text-decoration: none;
                color: variaveis.$color-white;
            }
        }
    }
}