@charset "UTF-8";

@use "variaveis";
@use "header.scss";
@use "reset.scss";
@use "footer.scss";


@mixin hover-button($background) {
    background-color: $background;
}

button.primary-button:hover {
    @include hover-button(variaveis.$color-primary)
}

button.secundary-button:hover {
    @include hover-button(variaveis.$color-secundary)
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

main {
    padding: 48px;
    height: 70vh;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;

    #form {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .container-sexos {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .card-sexos {
                cursor: pointer;
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border: 1px solid variaveis.$color-background;

                &:hover {
                    border: 1px solid variaveis.$color-secundary;
                    border-radius: 12px;
                }

                .icon-sexo{
                    width: 100px;
                }
            }
        }

        .container-inputs {
            width: 450px;
            display: flex;
            flex-flow: column nowrap;
            gap: 6px;

            .container-input {
                min-height: 45px;
                height: max-content;
                width: 100%;
            }

            input {
                color: variaveis.$color-white;
                background-color: variaveis.$color-background;
                height: 44px;
                width: 100%;
                border: 0;

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }

        .container-buttons {
            margin-top: 12px;
            display: flex;
            justify-content: center;
            flex-flow: row wrap;
            gap: 12px;

            button {
                cursor: pointer;
                color: variaveis.$color-white;
                background-color: variaveis.$color-background;
                padding: 12px 32px;
                border-radius: 24px;

                @mixin style-button($border, $transition) {
                    border: $border;
                    transition: $transition;
                }

                &.primary-button {
                    @include style-button(1px solid variaveis.$color-primary, background-color .3s)
                }

                &.secundary-button {
                    @include style-button(1px solid variaveis.$color-secundary, background-color .3s)
                }
            }
        }
    }

    .container-result {
        
        .result {
            color: variaveis.$color-secundary;
            font-size: 48px;
            font-weight: 700;
        }
    
        .indice {
            font-size: 24px;
        }
    }
}

@media screen and (max-width: 899px) {
    
    main {
        #form {
            .container-inputs {
                width: 300px;
            }
        }
    }
}