@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap);
header {
  height: max-content;
  width: 100%;
  z-index: 1000;
}
header nav {
  background: #100d28;
  padding: 24px;
  width: 100%;
  min-height: 12vh;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 6px rgba(255, 255, 255, 0.0470588235);
}
header nav #logo {
  width: 300px;
}
header nav #botton-header {
  text-align: center;
}
header nav #botton-header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 12px;
  font-size: 0.9em;
  list-style-type: none;
}
header nav #botton-header ul li a {
  text-decoration: none;
}
header nav #botton-header ul li a:visited {
  color: #ffffff;
}
header nav #botton-header ul li .shape-underline {
  margin-top: 3px;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, #050deb, #8906e6);
  visibility: hidden;
  transition: background-color 0.3s ease;
}
header nav #botton-header ul li:hover {
  cursor: pointer;
  opacity: 90%;
}
header nav #botton-header ul li:hover .shape-underline {
  visibility: visible;
}

*, *::after, ::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background: #100d28;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.arvo-regular {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

.arvo-bold {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-size: 2em;
}

.shape {
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, #050deb, #8906e6);
}

footer {
  padding: 10px;
  width: 100%;
  text-align: center;
  font-weight: 300;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer a:visited {
  text-decoration: none;
  color: #ffffff;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

main {
  padding: 48px;
  height: 70vh;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
}
main #form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
main #form .container-sexos {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main #form .container-sexos .card-sexos {
  cursor: pointer;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #100d28;
}
main #form .container-sexos .card-sexos:hover {
  border: 1px solid #8906e6;
  border-radius: 12px;
}
main #form .container-sexos .card-sexos .icon-sexo {
  width: 100px;
}
main #form .container-inputs {
  width: 450px;
  display: flex;
  flex-flow: column nowrap;
  gap: 6px;
}
main #form .container-inputs .container-input {
  min-height: 45px;
  height: max-content;
  width: 100%;
}
main #form .container-inputs input {
  color: #ffffff;
  background-color: #100d28;
  height: 44px;
  width: 100%;
  border: 0;
}
main #form .container-inputs input:focus {
  outline: none;
  box-shadow: none;
}
main #form .container-buttons {
  margin-top: 12px;
  display: flex;
  flex-flow: row wrap;
  gap: 12px;
}
main #form .container-buttons button {
  cursor: pointer;
  color: #ffffff;
  background: none;
  padding: 12px 32px;
  border-radius: 24px;
}
main #form .container-buttons button.primary-button {
  border: 1px solid #050deb;
  transition: background-color 0.3s;
}
main #form .container-buttons button.secundary-button {
  border: 1px solid #8906e6;
  transition: background-color 0.3s;
}
main .result {
  color: #8906e6;
  font-size: 48px;
  font-weight: 700;
}
main .indice {
  font-size: 24px;
}

button.primary-button:hover {
  background: #050deb;
  border: 1px solid #050deb;
}

button.secundary-button:hover {
  background: #8906e6;
  border: 1px solid #8906e6;
}

/*# sourceMappingURL=imc.css.map */
