@charset "UTF-8";

:root {
    --cor-background: #100d28;
    --cor-principal: #050deb;
    --cor-secundaria: #8906e6;
}

header {
    height: max-content;
    width: 100%;
    z-index: 1000;
}

nav {
    background: var(--cor-background);
    padding: 24px;
    width: 100%;
    min-height: 12vh;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.075);
}

#logo {
    width: 300px;
}

#botton-header {
    text-align: center;
}

#botton-header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 12px;

    font-size: .9em;
    list-style-type: none;    
}

.shape-underline {
    margin-top: 3px;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right, var(--cor-principal), var(--cor-secundaria));
    visibility: hidden;
    transition: .3s ease;
}

.shape {
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right, var(--cor-principal), var(--cor-secundaria));
}

#botton-header li:hover {
    cursor: pointer;
    opacity: 90%;
}

#botton-header li:hover .shape-underline{
    visibility: visible;
}

.section1 {
    width: 100%;
    height: max-content;
    background: var(--cor-background) url(../img/pexels-karolina-grabowska-4476375.jpg) no-repeat center center;
    background-size: cover;
}

.cobertura {
    padding: 0 48px;
    width: 100%;
    height: calc(100vh - 12vh);
    background-color: #100d28b2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-msg {
    display: flex;
    font-size: 1.1em;
    flex-direction: column;
    gap: 48px;
    text-align: center;
    max-width: 700px;
}

.section2 {
    padding: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    width: 100%;
    min-height: 500px;
    background: var(--cor-background);
}

.img-sections {
    max-width: 400px;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    border-top-right-radius: 96px;
    border-bottom-right-radius: 300px;
}

.container-missao{
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 700px;
}

.container-missao p {
    text-indent: 12px;
}

.section3 {
    padding: 48px;
}

.section3 aside {
    border: 1px dashed var(--cor-secundaria);
    border-radius: 48px;
    padding: 48px;
}

.section3 .container-redes{
    margin-top: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
}

.section3 .img-sections {
    max-width: 400px;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    border-top-left-radius: 128px;
    border-bottom-left-radius: 300px;
}

.social-media {
    width: 35px;
}

.redes {
    display: flex;
    gap: 24px;
}

footer {
    padding: 10px;
    width: 100%;
    text-align: center;
    font-weight: 300;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer a:visited{
    color: white;
}

@media screen and (max-width: 899px) {
    
    .container-msg {
        font-size: .8em;
    }

    .section2 {
        flex-flow: row wrap;
        justify-content: center;
    }

    .img-sections {
        max-width: 300px;
    }

    .container-missao {
        font-size: .8em;
    }

    .section3 {
        padding: 24px;
    }

    .section3 .container-redes {
        font-size: .8em;
        flex-flow: row wrap;
        justify-content: center;
        gap: 48px;
    }

    .section3 .img-sections {
        max-width: 250px;
    }
}